@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*======= theme-btn =========*/
.theme-btn{
    position: relative;
    z-index: 1;
}
.theme-btn:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: .3s cubic-bezier(.38,.32,.36,.98);
}
.theme-btn:hover:after {
    right: auto;
    left: 0;
    width: 100%;
    background-color: #578a0f;
}
/*======= header-area =========*/
.fixed-nav .header-top {
    height: 0;
    border: none;
    opacity: 0;
    visibility: hidden;
}
.fixed-nav .header-menu-content {
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
}
/*======= main-dropdown =========*/
.main-dropdown li .hover-menu-dropdown li a{
    position: relative;
}
.main-dropdown li .hover-menu-dropdown li a:after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #74b814;
    transform: scale(0);
    transition: 0.3s;
}
.main-dropdown li .hover-menu-dropdown li a:hover:after {
    transform: scale(1);
}

/*======= mega menu =========*/
.mega-menu {
    width: 1000px;
    left: -200px;
    z-index: 1;
}
.mega-menu:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: #fff;
    left: calc(481px - 50vw);
    border-top: 1px solid rgba(132,132,132,.15);
    box-shadow: 0 40px 80px 0 rgba(0,0,0,.05);
}
/*======= banner-area =========*/
.nav-carousel .owl-nav div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 20px;
    transition: 0.3s;
    color: #fff;
}
.nav-carousel .owl-theme .owl-nav [class*='owl-']{
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 2px 7px;
}
.nav-carousel .owl-theme .owl-nav [class*='owl-']:hover{
    background-color: transparent;
    border-color: #fff;
}
.nav-carousel .owl-nav div:hover {
    border-color: #fff;
}
.nav-carousel .owl-nav .owl-prev{
    left: 50px;

}
.nav-carousel .owl-nav .owl-next {
    left: auto;
    right: 50px;
}

/*======= banner-area owt dots =========*/

.testimonial-area .owl-dots,
.banner-area .owl-dots {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.testimonial-area .owl-dots {
    bottom: -55px;
}
.testimonial-area .owl-dots div,
.banner-area .owl-dots div {
    width: 12px;
    height: 12px;
    line-height: 12px;
    background: rgba(255, 255, 255, 0.6);
     border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    transition: 0.3s;
    position: relative;
}
.testimonial-area .owl-dots div {
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,.25);
}
.testimonial-area .owl-dots div:hover,
.testimonial-area .owl-dots div.active,
.banner-area .owl-dots div:hover,
.banner-area .owl-dots div.active {
    background: #fff;
}

/*======= service =========*/

.service-carousel .owl-stage-outer {
    padding: 15px 0;
}
.service-area.nav-carousel .owl-nav div {
    border-color: rgba(0,0,0,.2);
    color: #353535;
}
.service-area.nav-carousel .owl-nav .owl-prev {
    left: -85px;
}
.service-area.nav-carousel .owl-nav .owl-next {
    right: -85px;
}
.service-area.nav-carousel .owl-nav div:hover {
    border-color: #353535;
    color: #353535;
}
.service-item {
    margin: 0 15px;
    -webkit-box-shadow: 0 0 30px rgba(14, 16, 48, 0.05);
    -moz-box-shadow: 0 0 30px rgba(14, 16, 48, 0.05);
    box-shadow: 0 0 30px rgba(14, 16, 48, 0.05);
}
/*===== cta-box ====*/

.choose-area::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}



/*===== info-box ====*/
.info-box {
    position: relative;
}
.info-box::after {
    display: block;
    width: 60%;
    height: 1px;
    position: absolute;
    content: '';
    border-bottom: 1px solid rgba(132,132,132,.3);
    top: 28px;
    left: 74%;
}
.info-box:last-child::after {
    @apply .hidden;
}
.info-number {
    position: relative;
    transition: 0.3s;
}
.info-number::before,
.info-number::after {
    position: absolute;
    content: "";
    width: 76px;
    height: 76px;
    opacity: .2;
    margin-left: -38px;
    top: -20px;
    z-index: -1;
    background-color: #74b814;
    border-radius: 50%;
}
.info-number:after {
    width: 56px;
    height: 56px;
    top: -10px;
    margin-left: -28px;
    opacity: .4;
}
.info-number span {
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #74b814;
    border-radius: 50%;
    display: block;
}
.info-box:hover .info-number {
    transform: scale(1.2);
}

/*====== portfolio-detail ========*/
.portfolio-detail {
    margin: -40px 25px 0 25px;
    box-shadow: 0 25px 98px 0 rgba(0,0,0,.1);
    transition: 0.3s;
}
.portfolio-item:hover .portfolio-detail {
    transform: translateY(-65px);
}
.portfolio-detail h3 {
    transition: 0.3s;
}
.portfolio-item:hover .portfolio-detail h3 {
    color: #74b814;
}

/*===== Pricing item ========*/
.pricing-item {
    box-shadow: 0 25px 98px 0 rgba(0,0,0,.07);
}
.pricing-item-active {
    margin: -30px 0;
}

/*===== Pricing switcher ========*/
.toggle,
.toggler {
    display: inline-block;
    vertical-align: middle;
}
.b {
    display: block;
}
.toggle {
    position: relative;
    width: 60px;
    height: 34px;
    border-radius: 100px;
    background-color: #bbb;
    transition: 0.6s;
}
.toggle.active {
    background-color: #74b814;
}
.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}
.check:checked ~ .switch {
    left: 51.5%;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: .08s, 0s;
}
.switch {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 0s, .08s;
}

/*===== Pricing card ========*/
.license-price.month, .license-price.year {
    display: none;
}

.license-price.month.active, .license-price.year.active {
    display: block;
}

/*===== blog card ========*/

.blog-card:hover {
    transform: translateY(-6px);
}
.blog-card__title{
    @apply .text-primary .ease-in-out .duration-300 .font-semibold .text-xl .leading-8 .pb-4;
}
.blog-card__link {
    @apply .text-sm .font-medium .ease-in-out .duration-300;
}
/*===== scroll-top ========*/
#scroll-top {
    position: fixed;
    right: 20px;
    bottom: 30px;
    background-color: #fff;
    color: #8c7a73;
    font-size: 24px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    line-height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0 10px 40px rgba(14, 16, 48, 0.1);
    -moz-box-shadow: 0 10px 40px rgba(14, 16, 48, 0.1);
    box-shadow: 0 10px 40px rgba(14, 16, 48, 0.1);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#scroll-top:hover {
    transform: translateY(-4px);
    color: #74b814;
}

.side-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: #353535;
    overflow-x: hidden;
    z-index: 999;
    -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.2, 1);
    -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.2, 1);
    -ms-transition: all 0.4s cubic-bezier(0.7, 0, 0.2, 1);
    -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.2, 1);
    transition: all 0.4s cubic-bezier(0.7, 0, 0.2, 1);
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.side-nav-container.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

/*======= Breakpoints ==========*/
@media (max-width: 1199px) {
    .mega-menu {
        width: 960px;
        left: -190px;
    }
    .service-area.nav-carousel .owl-nav {
       @apply .hidden;
    }
}
@media (max-width: 1024px) {
    .info-box::after,
    .section-heading br,
    .banner-content br {
        @apply .hidden;
    }
    .mega-menu {
        width: 940px;
        left: -400px;
    }
    .mega-menu::after {
        left: calc(468px - 50vw);
    }
    .pricing-item-active {
       @apply .m-0 .mb-8;
    }
}
@media (max-width: 991px) {
    .mega-menu {
        width: 910px;
        left: -370px;
    }
}
@media (max-width: 767px) {
    .banner-content .text-5xxl {
       @apply .text-4xxl;
    }
    .nav-carousel .owl-nav {
        @apply .hidden;
    }
}

@media only screen and (max-width: 639px) and (min-width: 320px) {
    .header-info-bar {
        padding-top: 10px;
        column-count: 2;
    }
    .header-info-bar li {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .header-action-bar {
       @apply .justify-center;
    }
    .header-action-bar .social-action li {
        margin-right: 20px;
    }
    .header-action-bar .hover-menu {
        margin-left: 20px;
    }
    .info-box,
    .blog-card,
    .pricing-item,
    .portfolio-item,
    .map-container,
    .footer-widget {
        @apply .w-full;
    }
    .about-heading,
    .cta-box {
        @apply .mt-20;
    }
    .cta-box .btn-box {
        @apply .mt-10;
    }
    .contact-details {
        @apply .pt-20;
    }
    .footer-top-bar .social-profile {
        @apply .pt-5;
    }
}

@media (max-width: 375px) {
    .header-info-bar {
        column-count: 1;
    }
}